.footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 4.2rem;
    .f-1{
        width: 30%;
        img{
            height: 35px;
        }
        p{
            font-size: 14px;
            width: 100%;
            padding-top: 20px;
        }
    }
    .f-2{
        text-align: left;
        h3{
            font-size: 20px;    
            color: #000;
            font-weight: 600;
            text-transform: uppercase;
        }   
        ul{
            padding: 0;
            list-style-type: none;
            li{
                text-decoration: none;
                padding: 5px 0;
                font-size: 14px;
                cursor: pointer;
            }
            
        }
    }
    .f-3{
        h3{
            font-size: 20px;    
            color: #000;
            font-weight: 600;
            text-transform: uppercase;
        }   
        ul{
            padding: 0;
            list-style-type: none;
            li{
                text-decoration: none;
                padding: 5px 0;
                font-size: 14px;
            }
            
        }
    }
    
}
.copyright{
    position: relative;
    p{
        text-align: center;
        color: #000;
        font-size: 14px;
    }
}
.copyright::before{
    content: '';
    position: absolute;
    height: 4%;
    width: 95%;
    margin: auto;
    background-color: gray;
    top: -15px;
    left: 0;
}