//  Profile css
body{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100,"YTLC" 500;
}
.profile-container{
    height: 100%;
    width: 100%;
}
.userImgBox{
    width: 130px;
    height: 130px;
    background-color: #EFEBFF;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.usericon{
    font-size: 62px;
    color: #D6DAFF;
    cursor: pointer;
}
.userName{
    margin: 30px 0;
    position: relative;
    h2{font-weight: 700;}
}
.userName::after{
    content: '';
    position: absolute;
    left: 0;
    height: 0.5px;
    width: 60%;
    background-color: #00000054;
}
.contact-information{
    font-size: 14px;
    position: relative;
}
.contact-information::after{
    content: '';
    position: absolute;
    height: 0.5px;
    width: 100%;
    background-color: #5E5E68;
    bottom: 2px;
    left: 0;
}
.form{
    width: 50%;
    padding: 0 90px 0 0;
}
.informations{
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    text-transform: capitalize;
    margin-top: 10px;
    .key{
        color: #000;
        font-size: 14px;
        font-weight: 600;
        min-width: 30%;
    }
    .value{
        color: #5F6FFF;
        font-size: 14px;
        font-weight: 600;
        border: none;
        padding: 0.4vw 0.8vw;
        border-radius: 30px;
        min-width: 100%;
        background-color: transparent;
        &:focus{
            // border: 1px solid #5F6FFF;
            outline: 1px solid #09ed68;
        }
    }
}
.informations-select{
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    text-transform: capitalize;
    margin-top: 10px;
    padding-right: 40px;
    
    .key{
        color: #000;
        font-size: 14px;
        font-weight: 600;
    }
    .value{
        border: none;
        color: #5F6FFF;
        appearance: none;  
    }
}
.informations-birthday{
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    text-transform: capitalize;
    margin-top: 10px;
    padding-right: 10px;
    input{
        text-align: center;
        border: none;
        color: #5F6FFF;
        background-color: #fff;
    }
    .key{
        color: #000;
        font-size: 14px;
        font-weight: 600;
    }
}
.basic-information{
    margin-top: 30px;
    font-size: 14px;
    position: relative;

}
.basic-information::after{
    content: '';
    position: absolute;
    height: 0.5px;
    width: 100%;
    background-color: #5E5E68;
    bottom: 2px;
    left: 0;
}
.change-img-icon{
    overflow: hidden;
    height: 140px;
    width: 140px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFEBFF;
    cursor: pointer;
    img{
        object-fit: cover;
        height: 100%;
        width: 100%;
        transform: scale(1.4);
    }
}
.profile-img{
    overflow: hidden;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #63DFA6;
    cursor: pointer;
    img{
        object-fit: cover;
        height: 100%;
        width: 100%;
        transform: scale(1.4);
    }
}
.addDr-btn{
    // width: 5vw;
    background-color: #5F6FFF;
    color: #fff;
    border: none;
    padding: 0.8vw 4vw;
    border-radius: 30px;
    margin-top: 2vw;
}
// modal box
.modal-content{
    width: 620px;
    height: 480px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 15px 0px 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.modal-header{
    padding: 10px;
}
.key{
    color: #000;
    font-size: 14px;
    font-weight: 600;
}
.modal-form{
    display: flex;
    justify-content: space-between;
    gap:20px;
}
.modal-title {
    font-size: 30px;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin-top: 10px;
}
.modal-img-wrapper{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    .change-img-icon{
        transform: scale(1.1);
    }
    img{
        object-fit: cover;
        height: 100%;
        width: 100%;
        transform: scale(1.4);
    }
}
.modal-informations{
    width: 100%;
    padding: 0 20px;
    input{
        width: 60%;
        height: 35px;
        background-color: rgba(128, 128, 128, 0.333);
        border-radius: 5px;
        border: none;
        outline: none;
        padding: 0 10px;
        font-size: 14px;
        font-weight: 600;
        color: #000;
    }
}
.modal-img{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    .edit-btn{
        background-color: #E2E2E2;
        color: black;
        padding: 5px 10px;
        border-radius: 30px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        border: none;
    }
}
.modal-userName{
    display : flex;
    justify-content: space-between;
    gap:5px;
    margin-bottom: 8px;
}
.modal-email{
    display : flex;
    justify-content: space-between;
    gap:10px;
    margin-bottom: 8px;
}
.modal-phone{
    display : flex;
    justify-content: space-between;
    gap:10px;
    margin-bottom: 8px;
}
.modal-address{
    display : flex;
    justify-content: space-between;
    gap:10px;
    margin-bottom: 8px;
}
.modal-gender{
    display : flex;
    justify-content: space-between;
    gap:10px;
    margin-bottom: 8px;
    select{
        width: 60%;
        height: 35px;
        background-color: rgba(128, 128, 128, 0.333);
        border-radius: 5px;
        border: none;
        outline: none;
        padding: 0 10px;
        font-size: 14px;
        font-weight: 600;
        color: #000;
    }
}
.modal-birthday{
    display : flex;
    justify-content: space-between;
    gap:10px;
    margin-bottom: 8px;
}
.close{
    font-size: 25px;
}
.saveBtn{
    background-color: #5F6FFF;
    color: #fff;
}
/* HTML: <div class="loader"></div> */
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.479); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: hidden;
  }
.loader_modal {
    position: absolute;
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-color: #ccc #0000;
    animation: l16 1s infinite linear;
  }
  .loader_modal::before,
  .loader_modal::after {    
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
}
.loader_modal::before {
    border-color: #f03355 #0000;
    animation: inherit; 
    animation-duration: .5s;
    animation-direction: reverse;
  }
  .loader_modal::after {
    margin: 8px;
  }
  @keyframes l16 { 
    100%{transform: rotate(1turn)}
  }